<i class="col-xs-12 fa fa-spinner fa-5x fa-spin text-center margintop30" ng-show="loading"></i>
<div ng-hide="loading" class="container">
    <h1 class="col-sm-6 col-sm-offset-3 col-xs-12 text-center">I am ...</h1> 
    <div class="col-sm-2 col-sm-offset-4 col-xs-6 text-center">
      <h3 class="opacity50">MALE</h3>
      <i class="fa fa-male fa-5x"></i>
      <h3 class="green" ng-class="{'red' : percentages.male - percentages.female > 1}">{{percentages.male | number:0}}%</h3>
      <button class="btn btn-success btn-md" ng-click="vote('male')">
        <i class="fa fa-check fa-1x"></i> vote
      </button>
    </div> 
    <div class="col-sm-2 col-xs-6 text-center">
      <h3 class="opacity50">FEMALE</h3>
      <i class="fa fa-female fa-5x"></i>
      <h3 class="green" ng-class="{'red' : percentages.female - percentages.male > 1}">{{percentages.female | number:0}}%</h3>
      <button class="btn btn-success btn-md" ng-click="vote('female')">
        <i class="fa fa-check fa-1x"></i> vote
      </button>
    </div> 
</div>
