<div class="container">
  <div class="row">
    <h1 class="col-xs-6 col-xs-offset-3 text-center">Welcome to a test app</h1>  
    <p class="col-xs-6 col-xs-offset-3 text-center">Select your gender</p>  
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-sm-12">
      <button class="col-xs-5 btn btn-default btn-md" ng-click="vote('male')">male</button>
      <button class="col-xs-5 col-xs-offset-2 btn btn-default btn-md" ng-click="vote('female')">female</button>  
    </div>
  </div>  
</div>