.opacity50 {
  opacity: 0.5;
}

.green {
  color: green;
}

.red {
  color: red;
}

.margintop65 {
  margin-top: 65px;
}
@media only screen and (max-width: 768px) {
  .margintop65 {
    margin-top: 140px;
  }
}
